<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COL_NAME</key>
	<dict>
		<key>title</key>
		<string>Name</string>
		<key>accessor</key>
		<string>name</string>
		<key>col_id</key>
		<string>COL_NAME</string>
	</dict>
	<key>COL_SIZE</key>
	<dict>
		<key>title</key>
		<string>Size</string>
		<key>accessor</key>
		<string>fileSize</string>
		<key>transformer</key>
		<string>size</string>
		<key>col_id</key>
		<string>COL_SIZE</string>
		<key>grouping</key>
		<string>size</string>
	</dict>
	<key>COL_SIZE_ALLOCATED</key>
	<dict>
		<key>title</key>
		<string>Space on Disk</string>
		<key>accessor</key>
		<string>allocatedSize</string>
		<key>transformer</key>
		<string>size</string>
		<key>col_id</key>
		<string>COL_SIZE</string>
		<key>grouping</key>
		<string>size</string>
	</dict>
	<key>COL_SIZE_TOTAL</key>
	<dict>
		<key>title</key>
		<string>Size incl. Metadata</string>
		<key>accessor</key>
		<string>totalSize</string>
		<key>transformer</key>
		<string>size</string>
		<key>col_id</key>
		<string>COL_SIZE</string>
		<key>grouping</key>
		<string>size</string>
	</dict>
	<key>COL_SIZE_TOTAL_ALLOCATED</key>
	<dict>
		<key>title</key>
		<string>Space on Disk incl. Metadata</string>
		<key>accessor</key>
		<string>totalAllocatedSize</string>
		<key>transformer</key>
		<string>size</string>
		<key>col_id</key>
		<string>COL_SIZE</string>
		<key>grouping</key>
		<string>size</string>
	</dict>
	<key>COL_PATH</key>
	<dict>
		<key>title</key>
		<string>Path</string>
		<key>accessor</key>
		<string>path</string>
		<key>col_id</key>
		<string>COL_NAME</string>
	</dict>
	<key>COL_DATE_MODIFIED</key>
	<dict>
		<key>title</key>
		<string>Date Modified</string>
		<key>accessor</key>
		<string>date_modified</string>
		<key>transformer</key>
		<string>date</string>
		<key>selected</key>
		<false/>
		<key>grouping</key>
		<string>date</string>
	</dict>
	<key>COL_KIND</key>
	<dict>
		<key>title</key>
		<string>Kind</string>
		<key>accessor</key>
		<string>fileKind</string>
		<key>selected</key>
		<false/>
		<key>grouping</key>
		<string>string</string>
	</dict>
	<key>COL_DATE_CREATED</key>
	<dict>
		<key>title</key>
		<string>Date Created</string>
		<key>accessor</key>
		<string>date_created</string>
		<key>selected</key>
		<false/>
		<key>transformer</key>
		<string>date</string>
		<key>grouping</key>
		<string>date</string>
	</dict>
	<key>COL_DATE_ACCESSED</key>
	<dict>
		<key>title</key>
		<string>Date Accessed</string>
		<key>accessor</key>
		<string>date_accessed</string>
		<key>selected</key>
		<false/>
		<key>transformer</key>
		<string>date</string>
		<key>grouping</key>
		<string>date</string>
	</dict>
	<key>COL_LOCATION</key>
	<dict>
		<key>title</key>
		<string>Location</string>
		<key>accessor</key>
		<string>location</string>
		<key>grouping</key>
		<string>string</string>
	</dict>
	<key>COL_DUP_GROUP</key>
	<dict>
		<key>title</key>
		<string>Dup. Group ID</string>
		<key>accessor</key>
		<string>duplicateGroup</string>
		<key>transformer</key>
		<string>integer</string>
		<key>grouping</key>
		<string>integer</string>
	</dict>
</dict>
</plist>
