<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationBehaviour</key>
	<integer>0</integer>
	<key>DisplayFunctionBar</key>
	<true/>
	<key>LeftPanelVisible</key>
	<true/>
	<key>LeftPanelSize</key>
	<integer>150</integer>
	<key>ApplicationViewMode</key>
	<integer>0</integer>
	<key>KeyMappings</key>
	<dict>
		<key>cmdOpenInRight</key>
		<string>Ctrl+Arrow Right</string>
		<key>cmdOpenInLeft</key>
		<string>Ctrl+Arrow Left</string>
		<key>cmdCopyLeft</key>
		<string>None</string>
		<key>cmdCopyRight</key>
		<string>None</string>
		<key>cmdMoveLeft</key>
		<string>None</string>
		<key>cmdMoveRight</key>
		<string>None</string>
		<key>cmdOpen</key>
		<string>Return</string>
		<key>cmdDelete</key>
		<string>Cmd+Backspace</string>
	</dict>
	<key>BrowseAppsAsFolder</key>
	<false/>
	<key>BrowseHiddenFiles</key>
	<false/>
	<key>CalculateFolderSizes</key>
	<false/>
	<key>DisplayParentDirectory</key>
	<true/>
	<key>HideFoldersWhenTreeDisplayed</key>
	<false/>
	<key>DisplayFoldersFirst</key>
	<true/>
	<key>TableAlternateRowBackground</key>
	<false/>
	<key>MostRecentLocationCount</key>
	<integer>10</integer>
	<key>MostRecentLocation</key>
	<array/>
	<key>StoreAllowedURLs</key>
	<true/>
	<key>BrowserLeftHomeDir</key>
	<string></string>
	<key>LeftPreferences</key>
	<dict>
		<key>ViewType</key>
		<integer>1</integer>
		<key>TreeVisible</key>
		<false/>
		<key>TableColumns</key>
		<array>
			<string>COL_NAME</string>
			<string>COL_KIND</string>
			<string>COL_DATE_MODIFIED</string>
		</array>
	</dict>
	<key>BrowserRightHomeDir</key>
	<string></string>
	<key>RightPreferences</key>
	<dict>
		<key>ViewType</key>
		<integer>1</integer>
		<key>TreeVisible</key>
		<false/>
		<key>TableColumns</key>
		<array>
			<string>COL_NAME</string>
			<string>COL_KIND</string>
			<string>COL_DATE_MODIFIED</string>
		</array>
	</dict>
	<key>SinglePreferences</key>
	<dict>
		<key>ViewType</key>
		<integer>1</integer>
		<key>TreeVisible</key>
		<true/>
		<key>TableColumns</key>
		<array>
			<string>COL_NAME</string>
			<string>COL_SIZE</string>
			<string>COL_KIND</string>
			<string>COL_DATE_MODIFIED</string>
		</array>
	</dict>
</dict>
</plist>
