<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationBehaviour</key>
	<integer>0</integer>
	<key>DisplayFunctionBar</key>
	<true/>
	<key>ApplicationViewMode</key>
	<integer>0</integer>
	<key>KeyMappings</key>
	<dict>
		<key>cmdOpenInRight</key>
		<string>Ctrl+Arrow Right</string>
		<key>cmdOpenInLeft</key>
		<string>Ctrl+Arrow Left</string>
		<key>cmdCopyLeft</key>
		<string>None</string>
		<key>cmdCopyRight</key>
		<string>None</string>
		<key>cmdMoveLeft</key>
		<string>None</string>
		<key>cmdMoveRight</key>
		<string>None</string>
		<key>cmdOpen</key>
		<string>Return</string>
		<key>cmdDelete</key>
		<string>Cmd+Backspace</string>
	</dict>
	<key>BrowseAppsAsFolder</key>
	<false/>
	<key>BrowseHiddenFiles</key>
	<false/>
	<key>MostRecentLocationCount</key>
	<integer>10</integer>
	<key>StoreAllowedURLs</key>
	<true/>
	<key>BrowserLeftHomeDir</key>
	<string></string>
	<key>LeftPreferences</key>
	<dict>
		<key>ViewType</key>
		<integer>1</integer>
	</dict>
	<key>BrowserRightHomeDir</key>
	<string></string>
	<key>RightPreferences</key>
	<dict>
		<key>ViewType</key>
		<integer>0</integer>
	</dict>
	<key>SinglePreferences</key>
	<dict>
		<key>ViewType</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
