<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prefBrowseAppsAsFolder</key>
	<false/>
	<key>prefBrowseAHiddenFiles</key>
	<false/>
	<key>prefMostRecentLocationCount</key>
	<integer>10</integer>
	<key>prefsBrowserLeft</key>
	<dict>
		<key>prefHomeDir</key>
		<string></string>
		<key>prefDisplayFoldersInTable</key>
		<true/>
	</dict>
	<key>prefsBrowserRight</key>
	<dict>
		<key>prefHomeDir</key>
		<string></string>
		<key>prefDisplayFoldersInTable</key>
		<false/>
	</dict>
</dict>
</plist>
