<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Caravela.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Caravelle copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Caravelle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CaravelleTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Debug of Caravelle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CEA673E18F87C2F0080C4FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CEA675F18F87C2F0080C4FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9568731C484EB100DAB21A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9568881C484EB100DAB21A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9568931C484EB200DAB21A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC9568A61C484F9C00DAB21A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
